# Cross validation of the ALS method using Spark
We refer to this tutorial: http://spark.apache.org/docs/latest/ml-tuning.html#example-model-selection-via-cross-validation

The tutorial was not clear: we used SKLearn to split the dataset

# Import

In [17]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import itertools
from pyspark.mllib.recommendation import ALS
import math

%matplotlib inline
%load_ext autoreload
%autoreload 2

pd.options.display.max_columns = 100

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
from pyspark.sql.functions import col

In [19]:
from helpers_cross_validation import KFoldIndexes,CrossValidation

In [20]:
from helpers_als import get_predictions_ALS

In [21]:
import helpers

In [22]:
import random

# Models

In [7]:
class ALSModel:
    
    def __init__(self):
        pass
    
    def fit(self,data,**arg):
        self.model = ALS.train(data, **arg)
    
    def predict(self,data):
        data_for_preditions=data.map(lambda x: (x[0], x[1]))
        self.predictions = self.model.predictAll(data_for_preditions).map(lambda r: ((r[0], r[1]), r[2]))
    
    def evaluate(self,data):
        rates_and_preds = data.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(self.predictions)
        error = math.sqrt(rates_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
        return error

# Dataframe creation

In [8]:
train = helpers.load_csv()
train.head()

   UserID  MovieID  Rating
0      44        1       4
1      61        1       3
2      67        1       4
3      72        1       3
4      86        1       5

In [9]:
# First, we transform it using sqlContect
train_rdd = helpers.to_rdd(sqlContext, train)
train_rdd.take(3)

[Row(UserID=44, MovieID=1, Rating=4),
 Row(UserID=61, MovieID=1, Rating=3),
 Row(UserID=67, MovieID=1, Rating=4)]

In [10]:
train.shape[0]

1176952

# Cross validation

In [ ]:
cv=CrossValidation(train,4,True,sc)

In [ ]:
ranks = [8]
lambdas = [0.08,0.081,0.082,0.083,0.084,0.085,0.086,0.087,0.088,0.089,0.09]
numIters = [24]
nbr_models = len(ranks)*len(lambdas)*len(numIters)

bestModel = None
bestValidationRmse = float("inf")
bestRank = 0
bestLambda = -1.0
bestNumIter = -1

In [ ]:
bestLambda

In [ ]:
i = 0
for rank, lmbda, numIter in itertools.product(ranks, lambdas, numIters):
    try:
        print(rank,lmbda,numIter)
        validationRmse = cv.evaluate(ALSModel(),rank=rank,lambda_=lmbda, iterations=numIter, nonnegative=True)
        validationRmse = np.mean(validationRmse)
        print("Model %i/%i: RMSE (validation) = %f" %(i+1, nbr_models, validationRmse))
        print("  Trained with rank = %d, lambda = %.1f, and numIter = %d." % (rank, lmbda, numIter))
        print("")
        if (validationRmse < bestValidationRmse):
#             bestModel = model
            bestValidationRmse = validationRmse
            bestRank = rank
            bestLambda = lmbda
            bestNumIter = numIter
    except:
        print("Model %i/%i failed!" %(i+1, nbr_models))
        print("  Parameters: rank = %d, lambda = %.1f, and numIter = %d." % (rank, lmbda, numIter))

    i += 1
    
# Evaluate the best model on the training set
print("The best model was trained with rank = %d and lambda = %.1f, " % (bestRank, bestLambda) \
  + "and numIter = %d, and its RMSE on the training set is %f" % (bestNumIter, bestValidationRmse))

# # Evaluate the best model on the test set
# testRmse = computeRMSE(bestModel, test_for_predict_RDD, test_RDD)
# print("RMSE on the test set: %f"%(testRmse))

# Prepare data for submission

In [ ]:
test = pd.read_csv('../data/sampleSubmission.csv')
test.head()

In [ ]:
# Prepare test for RDD
test_prep = test
test_prep['UserID'] = test_prep['Id'].apply(lambda x: int(x.split('_')[0][1:]))
test_prep['MovieID'] = test_prep['Id'].apply(lambda x: int(x.split('_')[1][1:]))
test_prep['Rating'] = test_prep['Prediction']
test_prep = test_prep.drop(['Prediction', 'Id'], axis=1)
test_prep.head()

In [ ]:
# First, we transform it using sqlContect
test_sql = sqlContext.createDataFrame(test_prep)
test_rdd = test_sql.rdd
test_rdd.take(3)

In [ ]:
bestModel=ALSModel()
bestModel.fit(train_rdd,rank=8,lambda_=0.081, iterations=24, nonnegative=True)

In [ ]:
bestModel.predict(test_rdd)
predictions=bestModel.predictions
# predictions = bestModel.predictAll(test_RDD_Kaggle).map(lambda r: ((r[0], r[1]), r[2]))

In [ ]:
predictions.take(3)

In [ ]:
pred_df = predictions.toDF().toPandas()

In [ ]:
pred_df['UserID'] = pred_df['_1'].apply(lambda x: x['_1'])
pred_df['MovieID'] = pred_df['_1'].apply(lambda x: x['_2'])
pred_df['Rating'] = pred_df['_2']
pred_df = pred_df.drop(['_1', '_2'], axis=1)
pred_df.head()

In [ ]:
pred_df = pred_df.sort_values(by=['MovieID', 'UserID'])
pred_df.head()

In [ ]:
pred_df.index = range(len(pred_df))

In [ ]:
test['Prediction'] = pred_df['Rating']

In [ ]:
test.head()

In [ ]:
test = test.drop(['UserID', 'MovieID', 'Rating'], axis=1)

In [ ]:
test.to_csv('pred_pyspark_als.csv', index=False)

# Test with get_predictions_ALS function

In [11]:
import random

In [12]:
train_index=random.sample(range(1176952),1000000)
train_index.sort()

In [13]:
test_index=list(set(range(1176952))-set(train_index))
test_index.sort()

In [14]:
training=train.loc[train_index]

In [15]:
testing=train.loc[test_index]

In [23]:
get_predictions_ALS(training,testing,sc,rank=8,lambda_=0.081, iterations=24, nonnegative=True)

        UserID  MovieID    Rating
0          182        1  3.260075
1          670        1  3.177308
2          872        1  2.977831
3          967        1  3.484442
4          981        1  3.349462
5         1034        1  3.298134
6         1107        1  3.195127
7         1230        1  3.288920
8         1489        1  3.357065
9         2090        1  3.041825
10        2107        1  3.414084
11        2225        1  3.906126
12        2357        1  3.639506
13        2428        1  2.597996
14        2518        1  3.636480
15        3161        1  3.668589
16        3331        1  3.497082
17        3415        1  3.556500
18        4061        1  3.318388
19        4764        1  3.561201
20        4854        1  2.928520
21        5063        1  3.320232
22        5104        1  4.026980
23        5116        1  3.665445
24        5150        1  3.138376
25        5308        1  3.361450
26        5387        1  3.521374
27        5938        1  4.026916
28        6219        1  3.207233
29        6388        1  3.639460
...        ...      ...       ...
176922    9022     1000  3.547784
176923    9062     1000  3.447310
176924    9067     1000  3.126287
176925    9095     1000  3.516694
176926    9164     1000  3.807059
176927    9195     1000  3.753125
176928    9202     1000  3.815664
176929    9273     1000  3.367169
176930    9297     1000  4.091277
176931    9381     1000  3.898486
176932    9395     1000  3.784958
176933    9433     1000  3.930984
176934    9471     1000  3.759637
176935    9517     1000  3.700528
176936    9520     1000  3.632162
176937    9547     1000  3.145152
176938    9584     1000  3.167910
176939    9591     1000  3.643570
176940    9605     1000  3.810493
176941    9646     1000  3.372871
176942    9659     1000  3.731533
176943    9669     1000  3.831765
176944    9700     1000  3.344379
176945    9701     1000  3.393438
176946    9703     1000  3.843665
176947    9737     1000  3.896222
176948    9751     1000  3.492278
176949    9867     1000  3.262361
176950    9874     1000  3.774603
176951    9890     1000  3.615172

[176952 rows x 3 columns]