In [39]:
import pandas as pd
import numpy as np
from models.means import *
from models.helpers import *
from models.medians import *

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
train = load_csv()
train.head()

   User  Movie  Rating
0    44      1       4
1    61      1       3
2    67      1       4
3    72      1       3
4    86      1       5

In [74]:
pred = movie_mean_deviation_user(train,train[:50])
pred.head()

[MOVIE_MEAN_DEVIATION_USER] applying
[MOVIE_MEAN_DEVIATION_USER] done

   User  Movie    Rating
0    44      1  3.547286
1    61      1  2.790529
2    67      1  3.843582
3    72      1  3.087286
4    86      1  3.290707

In [75]:
rmse(list(pred['Rating']), list(train['Rating'][:50]))

1.0394393844665464

In [68]:
pred = movie_median_deviation_user(train,train[:50])
pred.head()

[MOVIE_MEDIAN_DEVIATION_USER] applying
[MOVIE_MEDIAN_DEVIATION_USER] done

   User  Movie    Rating
0    44      1  3.167874
1    61      1  2.411118
2    67      1  3.464171
3    72      1  2.707874
4    86      1  2.911295

In [69]:
rmse(list(pred['Rating']), list(train['Rating'][:50]))

1.1206851110967515