In [1]:
# Import the fucking useful libraries =)
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import scipy.sparse as sp
import itertools
import math
from MF_SGD import *



# There's a lot of columns in the DF. 
# Therefore, we add this option so that we can see more columns
pd.options.display.max_columns = 100

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [37]:
from helpers_scipy import load_data, percent_sparse
data = load_data('../data/data_train.csv')
print("percent of defined matrix", percent_sparse(data))
print("# non-zeros", data.nnz)

number of users: 10000, number of movies: 1000
percent of defined matrix 8.496523222697272
# non-zeros 1176952

In [23]:
data.shape

(10000, 1000)

In [18]:
row, col, rat = sp.find(data)

In [22]:
ro

array([   44,    61,    67, ...,  9994,  9997, 10000], dtype=int32)

In [20]:
col + 1

array([   1,    1,    1, ..., 1000, 1000, 1000], dtype=int32)

In [42]:
def sp_to_df(sparse):
    row, col, rat = sp.find(sparse)
    row += 1
    col += 1

    df = pd.DataFrame({'User':row,'Movie':col,'Rating':rat})
    df = df[['User', 'Movie', 'Rating']].sort_values(['Movie', 'User'])
    return df
    
df = sp_to_df(data)
df.head()

   User  Movie  Rating
0    44      1     4.0
1    61      1     3.0
2    67      1     4.0
3    72      1     3.0
4    86      1     5.0

In [64]:
user = df['User']
movie = df['Movie']
rating = df['Rating']

for u, m, r in zip (user, movie, rating):
    mat[u-1, m-1] = r

In [113]:
df

          User  Movie  Rating
0           44      1     4.0
1           61      1     3.0
2           67      1     4.0
3           72      1     3.0
4           86      1     5.0
5           90      1     4.0
6          108      1     3.0
7          114      1     3.0
8          120      1     2.0
9          135      1     5.0
10         152      1     4.0
11         165      1     3.0
12         182      1     3.0
13         310      1     3.0
14         318      1     1.0
15         333      1     3.0
16         355      1     2.0
17         390      1     4.0
18         401      1     4.0
19         410      1     2.0
20         418      1     3.0
21         457      1     2.0
22         470      1     4.0
23         497      1     3.0
24         516      1     3.0
25         566      1     3.0
26         595      1     2.0
27         670      1     3.0
28         673      1     4.0
29         708      1     1.0
...        ...    ...     ...
1176922   9846   1000     3.0
1176923   9855   1000     4.0
1176924   9867   1000     3.0
1176925   9874   1000     5.0
1176926   9875   1000     3.0
1176927   9884   1000     2.0
1176928   9890   1000     5.0
1176929   9904   1000     5.0
1176930   9909   1000     4.0
1176931   9913   1000     2.0
1176932   9922   1000     3.0
1176933   9925   1000     3.0
1176934   9929   1000     4.0
1176935   9936   1000     2.0
1176936   9944   1000     4.0
1176937   9945   1000     5.0
1176938   9949   1000     4.0
1176939   9957   1000     3.0
1176940   9958   1000     4.0
1176941   9960   1000     3.0
1176942   9961   1000     4.0
1176943   9964   1000     3.0
1176944   9968   1000     5.0
1176945   9970   1000     5.0
1176946   9976   1000     5.0
1176947   9990   1000     4.0
1176948   9992   1000     5.0
1176949   9994   1000     3.0
1176950   9997   1000     4.0
1176951  10000   1000     3.0

[1176952 rows x 3 columns]

In [127]:

user_mean = df.groupby('User').mean()['Rating']

def line(df):
    df['Rating'] = user_mean[df['User']]
    return df[['User', 'Movie', 'Rating']]

df[:50].apply(line, axis=1)

      User  Movie    Rating
0     44.0    1.0  3.893701
1     61.0    1.0  4.233696
2     67.0    1.0  3.580645
3     72.0    1.0  3.861423
4     86.0    1.0  4.103321
5     90.0    1.0  3.877698
6    108.0    1.0  3.775229
7    114.0    1.0  4.190000
8    120.0    1.0  2.958974
9    135.0    1.0  4.198880
10   152.0    1.0  4.267016
11   165.0    1.0  3.841772
12   182.0    1.0  3.660584
13   310.0    1.0  3.722022
14   318.0    1.0  3.533333
15   333.0    1.0  3.796020
16   355.0    1.0  3.885350
17   390.0    1.0  3.936000
18   401.0    1.0  4.072139
19   410.0    1.0  3.570637
20   418.0    1.0  3.773109
21   457.0    1.0  3.414815
22   470.0    1.0  4.385417
23   497.0    1.0  4.137681
24   516.0    1.0  3.478788
25   566.0    1.0  4.090909
26   595.0    1.0  3.654362
27   670.0    1.0  3.810127
28   673.0    1.0  3.615385
29   708.0    1.0  3.825000
30   720.0    1.0  3.996540
31   743.0    1.0  4.094293
32   777.0    1.0  4.229947
33   861.0    1.0  3.885246
34   872.0    1.0  3.705357
35   908.0    1.0  3.719697
36   930.0    1.0  3.856397
37   966.0    1.0  4.536170
38   967.0    1.0  4.130435
39   981.0    1.0  4.025253
40  1034.0    1.0  3.953623
41  1075.0    1.0  4.251656
42  1107.0    1.0  3.813869
43  1220.0    1.0  4.455331
44  1230.0    1.0  3.803815
45  1254.0    1.0  3.864198
46  1338.0    1.0  3.443396
47  1407.0    1.0  3.455882
48  1435.0    1.0  3.906504
49  1489.0    1.0  3.938849

In [119]:
user_mean = df.groupby('User').mean()
user_mean

            Movie    Rating
User
1      512.913043  4.043478
2      497.765101  3.771812
3      420.930233  3.523256
4      383.300000  3.800000
5      478.679104  3.985075
6      468.881657  4.366864
7      465.919355  4.129032
8      301.884615  4.115385
9      494.837079  3.971910
10     468.850467  3.822430
11     500.557971  3.666667
12     478.250000  4.087500
13     496.197368  3.671053
14     521.392405  3.911392
15     481.962199  3.783505
16     428.506849  4.027397
17     508.342105  3.926316
18     429.720930  3.837209
19     474.289855  3.565217
20     500.847826  3.717391
21     510.361702  3.851064
22     503.353774  3.924528
23     486.531250  3.697917
24     506.802817  3.563380
25     410.528302  3.433962
26     504.957983  3.764706
27     470.212766  3.872340
28     443.287879  4.227273
29     467.303030  3.954545
30     477.375940  3.789474
...           ...       ...
9971   490.819742  3.896996
9972   457.953488  4.127907
9973   449.852941  3.617647
9974   546.838710  3.806452
9975   555.867647  3.470588
9976   466.066265  4.036145
9977   470.813559  3.881356
9978   495.000000  3.263158
9979   425.741935  3.634409
9980   478.392857  3.892857
9981   427.660714  3.803571
9982   492.659459  3.324324
9983   437.163934  4.163934
9984   477.201613  4.048387
9985   507.266055  3.550459
9986   460.040541  4.081081
9987   470.493421  3.657895
9988   491.633663  4.059406
9989   409.642857  3.946429
9990   517.049296  3.873239
9991   480.585586  3.495495
9992   479.545455  4.030303
9993   447.441860  2.848837
9994   515.017442  3.936047
9995   499.954545  3.454545
9996   495.672131  4.081967
9997   531.387597  3.480620
9998   437.463415  3.560976
9999   473.732558  3.837209
10000  496.403509  3.973684

[10000 rows x 2 columns]

In [106]:
df['Rating']

0          4.0
1          3.0
2          4.0
3          3.0
4          5.0
5          4.0
6          3.0
7          3.0
8          2.0
9          5.0
10         4.0
11         3.0
12         3.0
13         3.0
14         1.0
15         3.0
16         2.0
17         4.0
18         4.0
19         2.0
20         3.0
21         2.0
22         4.0
23         3.0
24         3.0
25         3.0
26         2.0
27         3.0
28         4.0
29         1.0
          ...
1176922    3.0
1176923    4.0
1176924    3.0
1176925    5.0
1176926    3.0
1176927    2.0
1176928    5.0
1176929    5.0
1176930    4.0
1176931    2.0
1176932    3.0
1176933    3.0
1176934    4.0
1176935    2.0
1176936    4.0
1176937    5.0
1176938    4.0
1176939    3.0
1176940    4.0
1176941    3.0
1176942    4.0
1176943    3.0
1176944    5.0
1176945    5.0
1176946    5.0
1176947    4.0
1176948    5.0
1176949    3.0
1176950    4.0
1176951    3.0
Name: Rating, dtype: float64

In [138]:
from means import *
pred = user_mean(df,df[:50])
pred.head()

   User  Movie    Rating
0    44      1  3.893701
1    61      1  4.233696
2    67      1  3.580645
3    72      1  3.861423
4    86      1  4.103321

In [146]:
df['Rating'].mean()

3.8572805008190647

In [147]:
from means import *
pred = global_mean(df,df[:50])
pred.head()

   User  Movie    Rating
0    44      1  3.857281
1    61      1  3.857281
2    67      1  3.857281
3    72      1  3.857281
4    86      1  3.857281